<p>
  The KAUST Visualization Lab is hosting an <em>Introduction to R for Data Science</em> workshop. 
  Visualization lab staff will provide an introduction to R for data science designed for learners 
  with little or no previous programming experience. Topics covered will include the following.

  <ul>
    <li>Basics of programming in R and RStudio.</li>
    <li>Basics of R Data Science libraries including <a href="http://had.co.nz/plyr/">plyr</a>, <a href="https://dplyr.tidyverse.org/">dplyr</a>, <a href="https://tidyr.tidyverse.org/">tidyr</a>, <a href="https://ggplot2.tidyverse.org/">ggplot2</a> and <a href="https://yihui.name/knitr/">knitr</a>.</li>
    <li>Next steps for more advanced training in R for data science.</li>
  </ul>

  This hands-on lesson is part of the <em>Introduction to Data Science Workshop Series</em> 
  being offered by the KAUST Research Computing Core Labs as part of our on-going efforts to build 
  capacity in core data science skills at KAUST. The curriculum of the 
  <em>Introduction to Data Science Workshop Series</em>, which largely follows the core 
  <a href="{{site.swc_site}}">Software Carpentry</a> curriculum, covers programming in Python, 
  programming in R, shell scripting, version control using Git, and database programming with SQL. 
</p> 
<p>
  <em>
    Software Carpentry aims to help researchers get their work done in less time and with less pain 
    by teaching them basic research computing skills. For more information on what Software Carpentry 
    teaches and why, please see their paper 
    <a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>
  </em>.
</p>
